/* header {
  width: 100%;
  max-width: 1100px;
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header h1 {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 24px;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
}

.container {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
.container footer {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato", sans-serif;
}

.container main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Lato", sans-serif;
  margin-top: -35px;
}
.container main h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: #8e8883;
}

.socialmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.socialmenu a {
  font-size: 40px;
  text-decoration: none;
  color: #743f6d;
  transition: all 0.2s;
}
.socialmenu a:hover {
  color: #883a7f;
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
    max-width: 375px;
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    margin-bottom: 10px;
  }
} */

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.intro h1,
header h1 {
  font-family: "Red Hat Mono", monospace;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
.intro p {
  font-family: "Red Hat Mono", monospace;
  font-size: 17px;
  line-height: 22px;
  color: #a9a4a4;
  font-weight: 400;
  margin: 0 0 60px 0;
}

.intro img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  margin: 0 auto 60px auto;
}

.portfolio-link,
.about-link,
.main-link {
  font-family: "Red Hat Mono", monospace;
  font-size: 25px;
  text-decoration: none;
  position: relative;
  color: #000;
}

.main-link {
  margin-right: 20px;
}

.homeNav a::after,
.main-portfolio.active::after,
.main-about.active::after {
  content: "";
  height: 15px;
  display: block;
  top: 17px;
  left: 0;
  position: absolute;
  z-index: -1;
}

.portfolio-link::after,
.main-portfolio.active::after {
  width: 140px;
  background-color: #c9ff2f;
}
.about-link::after,
.main-about.active::after {
  width: 124px;
  background-color: #ffe500;
}

.homeNav {
  display: flex;
  justify-content: center;
  column-gap: 60px;
}

.portfolioItem {
  display: flex;
  column-gap: 20px;
  margin: 0 0 50px 0;
  border-top: 1px solid #ccc;
  padding: 10px 0 0 0;
}
.portfolioItem:first-child {
  border-top: none;
}

.titlePic {
  width: 25%;
}
.publicationName {
  width: 10%;
  font-weight: 400;
  font-family: "Red Hat Mono", monospace;
  font-size: 16px;
  line-height: 21px;
}
.description {
  width: 50%;
  font-weight: 400;
  font-family: "Red Hat Mono", monospace;
  font-size: 16px;
  line-height: 21px;
}

.titlePic h2 {
  font-family: "Red Hat Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin: 0 0 20px 0;
  line-height: 18px;
}

.titlePic img {
  width: 100%;
  max-width: 215px;
}

header {
  padding: 30px 0;
  margin-bottom: 30px;
}

header .logoTitle {
  width: 50%;
}
header nav {
  width: fit-content;
}

header .container-fluid {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.portfolio-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logoTitle a {
  display: flex;
  column-gap: 20px;
  text-decoration: none;
  color: #000;
}

.logoTitle img {
  width: 30px;
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  display: flex;
  align-content: flex-end;
  column-gap: 20px;
  width: 100%;
  max-width: 700px;
}
.about-content img {
  width: 40px;
}

@media (min-width: 1024) {
}
